<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="3.0">
    <servlet>
        <servlet-name>LoggInnServlet</servlet-name>
        <servlet-class>no.hvl.dat108.LoggInnServlet</servlet-class>
        <init-param>
            <param-name>RiktigPassord</param-name>
            <param-value>Per</param-value>
        </init-param>
        <init-param>
            <param-name>LoginTime</param-name>
            <param-value>15</param-value>
        </init-param>
    </servlet>
</web-app>
